<ul class="user-menu-custom-tab">
  {{#each this.items as |item|}}
    <li>
      <DButton
        class="btn-flat"
        @href={{item.href}}
        @icon={{item.icon}}
        @translatedLabel={{item.content}}
      />
    </li>
  {{/each}}
</ul>