div.menu-links-header .menu-links-row li.glyphs {
  flex-wrap: nowrap;
}

.user-menu .quick-access-panel.quick-access-custom li:not(.show-all) a {
  color: var(--primary);
}

ul.user-menu-custom-tab {
  flex-wrap: nowrap;
  height: 100%;
  align-items: center;
  overflow-y: auto;

  li {
    flex: 1 1 auto;
    max-height: 3em;

    & > * {
      height: 100%;
      align-items: center;
      margin: 0;
      padding: 0 0.5em;
    }
  }
}
